.DS_Store
.env
.env.*
**/.env
**/.env.*
.git
.github
.idea
.vscode
.wrangler
**/.wrangler
**/.next
**/.build
**/.swiftpm
**/*.tsbuildinfo
**/DerivedData
**/dist
**/node_modules
**/out
**/xcuserdata
apps/relay/.assets
apps/relay/data
node_modules
